@font-face {
    font-family: 'Salsa';
    src: url(salsa.woff2) format('woff2');
}

* {
    box-sizing: border-box;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    font-family: Salsa, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: hsl(244, 37%, 35%);
}

header #headerContent {
    position: fixed;
    top: 25px;
    left: 0;
    transform: translateY(-50%);
    color: white;
    padding: 0 5px;
}

header #headerContent button {
    background: hsl(244, 37%, 20%);
    color: white;
    padding: 5px;
    border: 1px solid hsl(244, 37%, 10%);
    border-radius: 5px;
    font-family: Salsa, sans-serif;
}

header #headerContent button {
    background: hsl(244, 37%, 90%);
    border: 1px solid hsl(244, 37%, 60%);
    color: black;
}

header #headerContent button:hover, header #headerContent input:focus {
    border: 1px solid hsl(244, 37%, 20%);
}

header #githubLink {
    position: fixed;
    top: 5px;
    right: 5px;
    text-decoration: none;
}

header #githubLink svg {
    width: 40px;
    height: 40px;
}

#ballsArea {
	position: fixed;
	top: 50px;
	left: 0;
}

@media (max-width: 707px) {
    header #positionedSpawnHint {
        display: block;
    }

    header, button {
        font-size: 0.8em;
    }
}

@media (max-width: 437px) {
    header, button {
        font-size: 0.7em;
    }
}

@media (max-width: 377px) {
    header #githubLink {
        top: 2.5px;
        right: 2.5px;
    }

    header #githubLink svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 344px) {
    header, button {
        font-size: 0.6em;
    }
}
